{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="main-content">
        <header class="text-center">
            {{ with .Site.Params.index.picture }}
                <img src="{{ . | urlize | relURL }}" class="rounded-circle text-center index-image">
            {{ end }}
            <h1 class="index-title">{{ .Site.Params.index.title }}</h1>
        </header>

        <section class="text-center">
            <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

            <h4 id="typed-strings">
                {{ with .Site.Params.index.subtitle }}
                I'm <span id="typed"></span>
            </h4>
            <script>
              var typed = new Typed('#typed',{
                strings:["a designer.", "a software developer.", "a great food lover.", "an all-round geek."],
                backSpeed: 40,
                typeSpeed: 40,
                loop: true,
                shuffle: true
              });</script>

            <h3 class="index-sub">{{ . }}</h3>
            {{ end }}
            {{ with .Site.Params.index.mdtext }}
            <h6 class="index-text">{{ . | markdownify }}</h6>
            {{ end }}
        </section>
    </div>
    {{- partial "_shared/social.html" . -}}
    {{ if isset .Site.Params.index "alertbar" }}
    	{{ if .Site.Params.index.alertbar }}
            {{- partial "_shared/alertbar.html" . -}}
        {{ end }}
    {{ end }}
{{end}}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}
